@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">مرحبا بكم في مشروع حسن في ASP.NET</h1>
    <p>لطباعة معكوس النص  <a href="Home/Reverse">اضغط هنا</a></p>
    <p>لإنشاء عملية رياضية   <a href="Home/Math">اضغط هنا</a></p>
</div>
