@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Mathematical Operations</h1>
    <form action="Math_Op">
        Number1:        <input type="number" name="N1" />
        <br />
        <br />
        Ope  Type: <input type="text" name="OpTy" />
        <br />
        <br />
        Number2:
        <input type="number" name="N2" />
        <br />
        <br />
        <button type="submit">OK</button>
    </form>
</div>