@{

}
<div class="text-center">
<h1 class="display-4">Reverse String</h1>
    <form action="ReverseValue">
    String: <input type="text" name="Name" />
        <button type="submit">OK</button>
    </form>
</div>
